html {
    height: 100%;
    display: block;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    /*
        background: rgb(106, 175, 212);
        color: #353535;
    */
}

#main_container {
    background: url(/images/background.jpg) no-repeat;
}
