@font-face {
    font-family: Gothic;
    src: url("/css/font.eot") /* EOT file for IE */
}

@font-face {
    font-family: Gothic;
    src: url("/css/font.ttf") /* TTF file for CSS3 browsers */
}

.font_style_1 {
    font: 16px normal Ariel;
}

body {
    font-size: 75%;
    background: rgb(106, 175, 212);
    color: #353535;
}

#main_container {
    background: url(/images/background.png) no-repeat;
    width: 1256px;
    padding-top: 20px;
}

#vert_bg {
    background: url(/images/vert_bg.png) repeat-x;
    width: 100%;
    margin: 0px !important;
}

#content_bg {
    background: rgb(106, 175, 212);
    margin: 0 auto;
    width: 1256px;
}

#header {
    margin-left: 230px;
    height: 90px;
    width: 840px;
    background: url(/images/header.png) no-repeat;
}

#logo_s {
    background: url(/images/logos.png) no-repeat;
    width: 117px;
    height: 114px;
    margin-bottom: 45px;
    margin-left: 44px;
}

#content {
    width: 100%;
}

* html #content {
    height: 1%;
}

#content:after {
    /* ????????? ????????? ????? */
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

#content_main_page {
    width: 1024px;
    height: 650px;
    background: url(/images/mainpage/main_bg.png) no-repeat;
    margin-left: 50px;
}

#login_block {
    width: 415px;
    height: 170px;
    float: left;
    margin-left: 600px;
    margin-top: 300px;
    padding-top: 35px;
}

#footer {
    margin-top: -208px;
    background: url(/images/footer.png) no-repeat;
    height: 417px !important;
}

#profile {
    float: left;
    width: 830px;
    position: relative;
    padding-bottom: 15px;
}

#sidebar {
    padding-left: 5px;
    margin-top: -85px;
    float: left;
    width: 230px;
    position: relative;
    padding-bottom: 15px;
}

#text_block {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding-top: 42px;
    padding-left: 30px;
    width: 790px;
    height: 155px;
}

#login {
    position: relative;
    top: -130px;
    left: 15px;
    padding-left: 445px;
    padding-top: 200px;
    width: 413px;
    height: 271px;
    background: url(/images/earth.png) no-repeat;
}

#table_line {
    list-style: none;
    width: 626px;
    overflow: visible;
}

#logout {
    height: 30px;
}

#user_email {
    display: table-cell;
    vertical-align: middle;
    padding-right: 30px;
}

#profile_text {
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 10px;
    background: url(/images/profile_text.png);
    font: 16px Gothic;
    width: 608px;
    height: 65px;
}

#profile_panel {
    width: 830px;
}

#profile_menu {
    width: 830px;
    height: 31px;
}

.text {
    margin-top: 8px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.text.mail_ru {
    margin: 8px auto;
    width: 160px;
}

.button_1 {
    float: left;
    width: 201px;
    height: 31px;
    background: url(/images/menu/1_button.png) 0 -32px;
}

.button_1.active_ {
    float: left;
    width: 201px;
    height: 31px;
    background: url(/images/menu/1_button.png) 0 0;
    text-decoration: underline;
}

.button_1.hovers_0 {
    float: left;
    width: 201px;
    height: 31px;
    background: url(/images/menu/1_button.png) 0 0;
}

.button_2_3 {
    float: left;
    width: 197px;
    height: 31px;
    background: url(/images/menu/2_3_button.png) 0 -32px;
}

.button_2_3.hovers_1 {
    float: left;
    width: 197px;
    height: 31px;
    background: url(/images/menu/2_3_button.png) 0 0;
}

.button_2_3.hovers_2 {
    float: left;
    width: 197px;
    height: 31px;
    background: url(/images/menu/2_3_button.png) no-repeat;
}

.button_2_3.active_ {
    float: left;
    width: 197px;
    height: 31px;
    background: url(/images/menu/2_3_button.png) 0 0;
    text-decoration: underline;
}

.button_4 {
    float: left;
    width: 222px;
    height: 31px;
    background: url(/images/menu/4_button.png) 0 -32px;
}

.button_4.hovers_3 {
    float: left;
    width: 222px;
    height: 31px;
    background: url(/images/menu/4_button.png) 0 0;
}

.button_4.active_ {
    float: left;
    width: 222px;
    height: 31px;
    background: url(/images/menu/4_button.png) 0 0;
    text-decoration: underline;
}

.b_devider {
    float: left;
    width: 4px;
    height: 31px;
    background: url(/images/menu/b_devider.png) no-repeat;
}

#profile_menu a img {

    float: left;

}

#profile_content {
    width: 830px;
    min-height: 350px;
    background: url(/images/box_bg.png) repeat-y;
}

#profile_footer {
    background: url(/images/box_bg_f.png) no-repeat;
    height: 15px;
    width: 830px;
}

#sidepanel_index {

    margin-top: 9px;

    width: 206px;

    background: url(/images/sidepanel/index.png);

    height: 20px;

}

#sidebar_bg_panel {
    width: 205px;
    height: 407px;
    background: url(/images/sidepanel/avatar_bg.png) no-repeat;
}

#avatar_im {
    width: 161px;
    height: 167px;
    background: url(/images/sidepanel/avatar_im.png) no-repeat;
    margin-left: 22px;
}

#user_name {
    width: 170px;
    font-size: 18px;
    white-space: nowrap !important;
}

#user_data {
    width: 160px;
    margin-left: 25px;
    margin-top: 10px;
}

#user_prof {
    background: url(/images/sidepanel/user_block_icon.png) 0 0px no-repeat;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

#user_home {
    background: url(/images/sidepanel/user_block_icon.png) 0 no-repeat;
    width: 35px;
    height: 35px;
}

#user_geo {
    background: url(/images/sidepanel/user_block_icon.png) 0 -127px no-repeat;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.user_online {
    margin: 10px auto 0 auto;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
}

td.user_data_img {
    width: 45px;
}

table.user_block_sidebar tr {
    height: 40px;
    border-bottom: 1px solid white;
}

table.user_block_sidebar tr td {
    padding: 5px 0px 5px 0px;
}

.user_data_text {
    width: 100px;
    vertical-align: middle;
    height: 25px;
}

.user_nic {
    width: 60px;
    font-weight: bold;
    line-height: 25px;
    color: rgb(125, 125, 125);
    margin: 0 auto;
    font-size: 20px;
}

.user_nic_ {
    width: 100px;
    font-weight: bold;
    line-height: 16px;
    color: rgb(125, 125, 125);
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}

#sidepanel_content {

    width: 167px;

    padding-left: 13px;

    padding-right: 26px;

    background: url(/images/sidepanel/bg.png) repeat-y;

}

#sidepanel_footer {

    width: 206px;

    background: url(/images/sidepanel/footer.png);

    height: 26px;

}

#left_text {

    font: 24px Gothic;

    width: 383px;

    height: 155px;

}

#right_text {

    font: 16px Gothic;

    padding-left: 5px;

    width: 402px;

    height: 155px;

}

.text_white {

    width: 380px;

    height: 40px;

    padding-top: 5px;

    padding-left: 22px;

    background: url(/images/text_block_small_white.png);

    margin-bottom: 7px;

}

.text_grey {

    width: 380px;

    height: 45px;

    padding-top: 5px;

    padding-left: 22px;

    background: url(/images/text_block_small_grey.png);

    margin-bottom: 7px;

}

.t_green {

    color: #90cd0b;

}

#login_form {

    width: 380px;

    height: 100px;

}

#form_input {

    padding-top: 2px;

    padding-right: 15px;

}

#form_input input {

    font: 16px Arial;

    width: 264px;

    height: 24px;

    border: 0;

    background-color: white;

}

#info {

    font: 10px Arial;

    margin-top: 5px;

    margin-left: 15px;

}

#info a {

    text-decoration: none;

    color: red;

}

#submit {

    width: 96px;

    height: 28px;

    border: 0;

    cursor: pointer;

    background: url(/images/mainpage/login.png) no-repeat;

}

#submit:active {

    background: url(/images/mainpage/login.png) no-repeat;

}

#table_line li h3 {

    padding: 0 !important;

    margin: 0 !important;

    border: 0 !important;

}

#table_line li h3 table {

    height: 35px;

}

#table_line li h3 table tr td {

    vertical-align: middle;

}

#t_data {

    padding-left: 5px;

    font: 8px normal Ariel;

    color: black;

    width: 68px;

}

#t_from {

    width: 180px;

}

#t_to {

    padding-left: 3px;

    width: 197px;

}

#t_other {

    padding-left: 5px;

    width: 50px;

}

#table_line li div {

    overflow: visible;

    top: 0 !important;

    border: 0 !important;

    margin: 0 !important;

    background: url(/images/table/bg.png) repeat-y !important;

}

#table_line li {

    width: 626px !important;

}

#test {

    background-color: red;

    width: 626px !important;

}

.t_first {

    background: url(/images/table/index.png) no-repeat !important;

    height: 30px !important;

    border: 0 !important;

}

.t_last {

    background: url(/images/table/footer.png) no-repeat !important;

    width: 626px !important;

    height: 54px !important;

}

.t_b {

    background: url(/images/table/line_blue.png) no-repeat !important;

    height: 35px !important;

}

.t_db {

    background: url(/images/table/line_darkblue.png) no-repeat !important;

    height: 35px !important;

}

.mail_link {

    margin-left: 15px;
}

#mail_container div {

    padding: 10px;

    width: 525px;

}

.ui-inlineedit-content {
    position: relative;
}

.ui-inlineedit-placeholder {
    color: #555;
    font-style: italic;
}

.ui-inlineedit-input {
    margin-right: 16px;
    padding: .2em;
    border: none;
    background: none;
}

.ui-inlineedit-button {
    position: absolute;
    width: 16px;
    height: 16px;
    display: block;
    right: 0;
    overflow: hidden;
}

.ui-inlineedit .ui-inlineedit-button {
    background: none;
    border: none;
}

.ui-inlineedit-save {
    top: 0;
}

.ui-inlineedit-cancel {
    bottom: 0;
}

.msgbody tbody tr td {

    vertical-align: middle !important;

}

.msgbody_1 {

    vertical-align: middle !important;

}

.msgbody_2 {

    vertical-align: middle !important;

}

.msgbody_3 {

    width: 250px;

    padding: 10px;

    vertical-align: middle !important;

}

.msgbody_4 {

    vertical-align: middle !important;

}

#born_flag {

    margin-bottom: 4px;

    margin-right: 2px;

    margin-left: 0px;

    vertical-align: middle;

}

#geo_flag {

    margin-bottom: 4px;

    margin-right: 2px;

    margin-left: 0px;

    vertical-align: middle;

}

.profile-block {

    border: 1px dashed white;

    padding: 0.7em;

}

.profile-block_total {

    border: 2px solid white;

    padding: 0.7em;

    background-color: #c4d5ef;

}

.tr_line {
    border-bottom: 1px solid #E8E8E8;
}

.profile-block_total {
    width: 340px;
}

.profile_block_ table tr td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile_block_  input, select, button {
    color: white;
    font-weight: bold;
}

.profile-block table tr td select {

    width: 130px;

}

.profile-title {

    padding: 0 5px 0 0;

    vertical-align: middle;

}

.profile-title_w {

    padding: 0 5px 0 0;

    vertical-align: middle;

    width: 85px;

}

.profile-field {

    padding-bottom: 5px;

}

.profile-field.last {

    padding-bottom: 0px;

}

.profile-big-title {

    color: #2E6E9E;

    font-family: tahoma;

    font-size: 16px;

    margin-bottom: 10px;

    margin-top: 10px;

}

.profile-big-title.first {

    margin-top: 0px;

    font-weight: bold;

}

#datepicker {

    width: 100px;

}

.ui-datepicker-trigger {

    left: 108px;

    margin-top: -15px;

    position: relative;

    top: -6px;

}

#born_country, #geo_country, #residence_city, #geo_city {

    width: 227px;

}

#geo_country {

    width: 165px;

}

#geo_btn:hover {

    background: url(/images/geo_h.png) no-repeat;

}

#profile_submit {

    margin-top: 10px;

    float: left;

}

.highslide-wrapper, .highslide-outline {

    background: #FFFFFF;

}

.highslide img {

    border: 1px solid #D0D0D0;

}

.highslide:hover img {

    border-color: #A0A0A0;

}

.highslide-active-anchor img {

    visibility: visible;

    border-color: #808080 !important;

}

.highslide-image {

    border: 2px solid #FFFFFF;

}

.highslide-loading {

    color: black;

    border: 1px solid black;

    background-color: white;

    background-image: url(/graphics/loader.white.gif);

}

.highslide-controls {

    position: static !important;

    margin-bottom: 0;

    width: 195px !important;

}

.highslide-gallery ul li {

    width: 106px;

    height: 106px;

    border: 1px solid #D0D0D0;

    background: #EDEDED;

    margin: 2px;

}

/* trip css */
.block_trip_action {
    margin-top: 65px;
    margin-left: 70px;
}

.action_trip_add {
    text-align: center;
    background: url(/images/trip/create_trip.png) 0px 0px no-repeat;
    color: #ffffff;
    height: 45px;
    width: 317px;
}

.action_trip_edit {
    text-align: center;
    background: url(/images/trip/create_trip.png) 0px -51px no-repeat;
    height: 45px;
    width: 317px;
    color: #ffffff;
}

.action_trip_future {
    text-align: center;
    background: url(/images/trip/create_trip.png) 0px -103px no-repeat;
    color: #ffffff;
    height: 45px;
    width: 317px;
}

.action_trip_past {
    text-align: center;
    background: url(/images/trip/create_trip.png) 0px -156px no-repeat;
    color: #ffffff;
    height: 45px;
    width: 317px;
}

.trip_action {
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
}

.al {
    padding-top: 15px;
    padding-left: 75px;
    margin-top: 10px;
}

.trip_add_block {
    background: url(/images/trip/body_trip_box.png) repeat-y;
    width: 802px;
    min-height: 165px;
    float: left;
    margin-left: 15px;
}

.bot_box {
    background: url(/images/trip/bot_trip_box.png) no-repeat;
    width: 802px;
    height: 10px;
    margin-left: 15px;
    float: left;
}

.top_box {
    background: url(/images/trip/top_trip_box.png) no-repeat;
    width: 802px;
    height: 10px;
    margin-left: 15px;
    float: left;
}

.action_block {
    width: 802px;
    margin: 0 auto;
    height: 52px;
}

.action_box {
    float: right;
    background: url(/images/trip/action_box.png) no-repeat;
    width: 104px;
    height: 54px;
    padding-top: 6px;
}

.action_add {
    float: left;
    margin-left: 6px;
    background: url(/images/trip/add_icon.png) no-repeat;
    width: 43px;
    height: 43px;
}

.action_remove {
    float: right;
    margin-right: 8px;
    background: url(/images/trip/remove_icon.png) no-repeat;
    width: 43px;
    height: 43px;
}

.flight_from_i {
    background: url(/images/trip/flight_from.png) no-repeat;
    width: 43px;
    height: 43px;
}

.flight_from {
    width: 590px;
    height: 95px;
    float: left;
    margin-left: 5px;
}

.flight_to {
    width: 590px;
    height: 95px;
    float: left;
    margin-left: 5px;
}

.flight_to_i {
    background: url(/images/trip/flight_to.png) no-repeat;
    width: 43px;
    height: 43px;
}

.flight_info td, th {
    vertical-align: middle !important;
    width: 95px;
}

.flight_info td {
    vertical-align: middle !important;
    width: 182px;
}

.comment_box {
    width: 207px;
    float: right;
}

textarea[name="comments"] {
    min-width: 170px;
    min-height: 102px;
    max-width: 170px;
    max-height: 102px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.trip_issues {
    float: right;
    width: 122px;
    height: 34px;
    margin-top: 5px;
}

.revert_trip {
    float: left;
    width: 34px;
    height: 34px;
    background: url(/images/trip/trip_issues.png) 0 0 no-repeat;
    cursor: pointer;
}

.settwitter {
    margin-left: 3px;
    float: left;
    width: 34px;
    height: 34px;
    background: url(/images/trip/trip_issues.png) -35px 0 no-repeat;
}

.setfacebook {
    margin-left: 3px;
    float: left;
    width: 34px;
    height: 34px;
    background: url(/images/trip/trip_issues.png) -69px 0 no-repeat;
}

.setvkont {
    margin-left: 4px;
    float: left;
    width: 34px;
    height: 34px;
    background: url(/images/trip/trip_issues.png) -106px 0 no-repeat;
}

.trip_feat {
    width: 185px;
    float: right;
    height: 35px;
    margin-bottom: 5px;
}

.edit_feat {
    margin-left: 2px;
    float: left;
    width: 33px;
    height: 33px;
    background: url(/images/trip/trip_features.png) 0 0 no-repeat;
}

.money_feat {
    margin-left: 2px;
    float: left;
    width: 32px;
    height: 33px;
    background: url(/images/trip/trip_features.png) -35px 0 no-repeat;
}

.weather_feat {
    margin-left: 2px;
    float: left;
    width: 34px;
    height: 33px;
    background: url(/images/trip/trip_features.png) -69px 0 no-repeat;
}

.info_feat {
    margin-left: 2px;
    float: left;
    width: 34px;
    height: 33px;
    background: url(/images/trip/trip_features.png) -104px 0 no-repeat;
}

.create_block {
    float: left;
}

.create_block_back {
    display: none;
}

.flight_to_back {
    width: 590px;
    height: 95px;
    float: left;
    margin-left: 5px;
}

.time_trip_td {
    height: 35px;
    /*
    line-height:0px !important;
    */
}

/*end of trip css*/

/* jquery autocomplete */
.ac_results {
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /*
     if width will be 100% horizontal scrollbar will apear
     when scroll mode will be used
     */
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /*
     it is very important, if line-height not setted or setted
     in relative units scroll will be broken in firefox
     */
    line-height: 16px;
    overflow: hidden;
}

.ac_loading {
    background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
    background-color: #ADADAD;
}

.ac_over {
    background-color: #0A246A;
    color: white;
}

/*end of jquery at*/

.demo {
    padding-top: 4px;
    margin-left: -5px;
    height: 128px;
    position: relative;
}

#galNewWrapPopUp {
    background-position: 0px 0px;
    width: 460px;
    padding-top: 6px;
    position: absolute;
    padding-right: 27px;
    padding-bottom: 0px;
    padding-left: 15px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
}

div#galNewWrap {
    background-position: 0px 0px;
    width: 620px;
    padding-top: 6px;
    position: absolute;
    padding-right: 27px;
    padding-bottom: 0px;
    padding-left: 15px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-left: 100px;
    display: block;
}

div#galNewWrap1popUp {
    width: 295px;
    height: 110px;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
}

div#galNewWrap1 {
    height: 110px;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
}

div#newPicture {
    width: 178px;
    height: 163px;
    position: absolute;
}

div#thumbNewNext {
    margin-left: 725px;
    margin-top: 0px;
    height: 110px;
    cursor: pointer;
    width: 13px;
    height: 51px;
    position: absolute;
    z-index: 20;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 110px;
}

#thumbNewNextPopUp {
    margin-left: 100px;
    margin-top: 0px;
    height: 110px;
    cursor: pointer;
    width: 13px;
    height: 51px;
    position: absolute;
    z-index: 20;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 110px;
}

div#thumbNewBack {
    cursor: pointer;
    width: 13px;
    height: 51px;
    position: absolute;
    padding-right: 10px;
    z-index: 20;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    height: 110px;
    margin-top: 0px;
}

li.newThumbHolder {
    width: 70px;
    height: 110px;
    cursor: pointer;
    background-color: white;
}

img.newThumb {
    width: 100px;
    height: 150px;
    margin-left: 0pt;
}

.gallery_demo {
    margin: 0;
    padding: 0;
}

.galleria {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.galleria li {
    display: block;
    float: left;
    height: 42px;
    margin: 0;
    overflow: hidden;
    width: 77px;
}

.galleria li.active div img, .galleria li.active div {
    display: block;
}

.galleria li img.thumb {
    cursor: pointer;
    display: block;
    height: auto;
    left: auto;
    top: auto;
    width: auto;
}

.ui-state-default {
    padding-right: 30px;
}

span.icon_clear {
    font-family: verdana;
    cursor: pointer;
    color: #38468F;
    font-weight: bold;
    float: left;
    height: 20px;
    width: 26px;
    margin-left: -26px;
}

span.icon_clear:hover {
    color: #ccc;
}

/*dialog-----dialog-----*/

.ui-dialog-titlebar {
    color: white !important;
    font-family: Gothic;
    height: 35 !important;
    border: 0 !important;
    background: url(/images/register_title.png) no-repeat !important;
}

.ui-dialog {
    font-family: Verdana;
    font-weight: normal;
    color: grey;
    font-size: 14px;
    padding: 0 !important;
    background: url(/images/register.png) no-repeat !important;
}

fieldset {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    width: 7em;
    float: left;
}

label.error {
    width: 140px;
    font-size: 10px;
    float: right;
    color: red;
    margin-right: 58px;
    vertical-align: top;
}

p {
    clear: both;
    padding-top: 15px;
    text-align: center;
}

.submit {
    margin-left: 12em;
}

em {
    font-weight: bold;
    padding-right: 1em;
    vertical-align: top;
}

#dialog form input {
    width: 250px !important;
}

#loading {
    display: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: url(/images/ajax-loader.gif) no-repeat center;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    border: 0;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 10;
    overflow: auto;
}

#login_send {
    width: 99px;
    margin-top: 20px;
    margin-left: 30px;
    height: 23px;
    border: 0;
    background: url(/images/reg_button.png) no-repeat;
}

.forgot_link {
    color: #4673a7 !important;
    font-size: 18px;
}

.signup_link {
    color: #898f97 !important;
    font-size: 18px;
}

/* Messages */

/* Messages */

#messages {
    width: 810px;
    margin: 15px auto 0 auto;
}

#messages h1 {
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    color: #4c7ead;
}

.folders {
    min-height: 160px;
    border: 3px solid #ffffff;
    background: #c3d4ef;
    margin: 15px 0px;
}

.folders li {
    line-height: 40px;
    vertical-align: middle;
}

.defaultFolders {
    position: relative;
    float: left;
    width: 49%;
}

.additionalFolders {
    position: relative;
    float: right;
    width: 49%;
}

.folder {
    height: 40px;
    padding-left: 40px;
}

.folder a {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: #4c70ad;
    margin-right: 15px;
}

.folder .count {
    font-family: Arial;
    font-size: 14px;
    color: #999998;
    vertical-align: middle;
    display: inline;
}

.selectedFolder {

}

.selectedFolder a {
    cursor: text;
}

.selectedFolder a.removeButton,
.selectedFolder a.editButton {
    cursor: pointer;
}

.removeButton {
    background: url('/images/messages/delete_folder.png') no-repeat scroll 0 0 transparent;
    display: none;
    height: 14px;
    position: absolute;
    right: -18px;
    top: -3px;
    width: 14px;
}

.editButton {
    background: url('/images/messages/edit_folder.png') no-repeat scroll 0 0 transparent;
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    margin-left: 5px;
}

.folderContainer {
    vertical-align: middle;
    line-height: 40px;
    position: relative;
}

.newMessages {
    position: absolute;
    top: 5px;
    right: 0;
    width: 70px;
}

.newMessages b {
    background: url(/images/messages/new_message.png) left top repeat-x;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    height: 19px;
    line-height: 18px;
    margin: 4px 0 0 0;
    min-width: 14px;
    overflow: hidden;
    padding: 0 3px;
    position: absolute;
    right: 74px;
    text-align: center;

}

.newMessages span {
    color: #FF6600;
    display: block;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    line-height: 14px;
}

.publicFolder {
    background: url(/images/messages/public_folder.png) left center no-repeat;
}

.friendFolder {
    background: url(/images/messages/friend_folder.png) left center no-repeat;
}

.ignoreFolder {
    background: url(/images/messages/ignore_folder.png) left center no-repeat;
}

.createForlder {
    background: url(/images/messages/create_folder.png) left center no-repeat;
}

.customFolder {
    background: url(/images/messages/public_folder.png) left center no-repeat;
}

.clear {
    clear: both;
}

.addFolder {
    height: 90px;
    background: url(/images/messages/public_folder.png) left 20px no-repeat;
}

.addFolder a {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px dotted #4c70ad;
}

.maxCount {
    color: #999999;
    float: right;
    font-size: 11px;
    line-height: 11px;
    position: relative;
    top: 5px;
    width: 60px;
}

.addLabel {
    margin-top: 5px;
}

.addField {
    margin-right: 70px;
    margin-top: 5px;
}

.addField input {
    width: 100%;
}

.addButton {
    margin-top: 10px;
}

.addButton input {
    margin-right: 20px;
}

.selecAll {
    width: 250px;
    height: 20px;
    padding: 7px 0px 0px 10px;
    border: 3px solid #ffffff;
    font: bold 14px Arial;
    color: #999998;
}

.selecAll input {
    margin: 0px;
    padding: 0px;
}

.message {
    width: 805px;
    height: 110px;
    border: 3px solid #ffffff;
    margin: 10px 0px 0px 0px;
    position: relative;
}

.checkboxMessage {
    position: absolute;
    width: 45px;
    height: 65px;
    border: 3px solid #ffffff;
    left: -3px;
    top: -2px;
    background: #92b0d9;
    text-align: center;
    padding-top: 43px;
}

.senderInfo {
    position: absolute;
    left: 70px;
    top: 8px;
    height: 94px;
    width: 350px;
}

.senderInfo .image {
    position: absolute;
    border: 2px solid #ffffff;
    width: 90px;
    height: 90px;
}

.senderInfo .image img {
    width: 90px;
    height: 90px;
}

.senderInfo .senderData {
    position: absolute;
    width: 230px;
    height: 90px;
    left: 100px;
}

.senderInfo h2 {
    font: bold italic 16px Arial;
    color: #4c7ead;
    margin: 4px 0px;
}

.senderInfo h3 {
    font: bold 14px Arial;
    color: #5f5f5f;
    margin: 4px 0px;
}

.senderInfo span.online {
    font: bold 14px Arial;
    color: #4c7ead;
}

.messageCount {
    position: absolute;
    right: 220px;
    top: 50px;
}

.messageCount span {
    font: bold 14px Arial;
    color: #999998;
}

.messageNew, .writeMessage {
    position: absolute;
    width: 175px;
    height: 20px;
    padding-top: 4px;
    text-align: center;
    border: 3px solid #ffffff;
    right: 25px;
    top: 42px;
    font: bold 14px Arial;
}

.messageNew a, .writeMessage a {
    color: #ffffff;
    text-decoration: none;
}

.messageNew {
    background: url(/images/messages/new_message.png) left top repeat-x;
}

.writeMessage {
    background: url(/images/messages/write-message.png) left top repeat-x;
}

/***************************** CHAT ********************************/

#chat {
    position: relative;
    min-height: 640px;
    min-width: 780px;
    border: solid 5px #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.leftPanel {
    position: relative;
    float: left;
    width: 215px;
    min-height: 640px;
    border: solid 3px #ffffff;
    border-radius: 15px;
    margin-left: -7px;
    margin-top: -3px;
}

.leftPanel ul {
    margin-top: 20px;
}

.leftPanel li {
    line-height: 34px;
    vertical-align: middle;
    padding-left: 15px;
    height: 34px;
    margin-left: 4px;
    padding-right: 5px;
}

.leftPanel a {
    font: bold 14px Arial;
    color: #71a1d1;
    text-decoration: none;
}

.leftPanel li.selected {
    height: 32px;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    background: #a8b1bb;
}

.leftPanel li:hover {
    background: #a8b1bb url(/images/messages/close-user.png) 190px 8px no-repeat;
}

.leftPanel a.delChatContact {
    display: block;
    float: right;
    margin-top: 8px;
    width: 16px;
    height: 16px;
}

.leftPanel li.selected a {
    color: #ffffff;
}

.centerPanel {
    position: relative;
    margin-left: 214px;
    min-height: 640px;
}

.userInfo {
    position: relative;
    height: 120px;
    width: 100%;
    border-bottom: solid 3px #ffffff;
    background: #92b5d9;
}

.userInfo .image {
    position: absolute;
    border: 2px solid #ffffff;
    width: 90px;
    height: 90px;
    top: 12px;
    left: 12px;
}

.userInfo .image img {
    width: 90px;
    height: 90px;
}

.userInfo .senderData {
    position: relative;
    width: 450px;
    top: 6px;
    left: 120px;
    font: bold 14px Arial;
    color: #ffffff;
}

.userInfo .senderData li {
    line-height: 35px;
}

.userInfo .senderData li.user {
    color: #4c7ead;
    font-size: 16px;
}

.userInfo .info {
    position: absolute;
    width: 180px;
    bottom: 12px;
    right: 15px;
    height: 20px;
    padding-top: 4px;
    background: url(/images/messages/write-message.png) left top repeat-x;
    border: 2px solid #ffffff;
    text-align: center;
    font: bold 14px Arial;
    color: #ffffff;
}

.messageWrap {
    height: 300px;
}

.messageBlock {
    position: relative;
    min-height: 50px;
    width: 100%;
    margin-top: 15px;
    font: bold 14px Arial;
}

.myMess {
    position: absolute;
    background: url(/images/messages/my-message.png) no-repeat;
    left: 0px;
    bottom: -4px;
    width: 31px;
    height: 29px;
    z-index: 2;
}

.meMess {
    position: absolute;
    background: url(/images/messages/me-message.png) no-repeat;
    right: 2px;
    bottom: -1px;
    width: 31px;
    height: 29px;
    z-index: 2;
}

.messageText {
    position: absolute;
    border: 2px solid #ffffff;
    border-radius: 20px;
    min-height: 40px;
    vertical-align: middle;
    width: 65%;
    padding: 0 20px;
    color: #ffffff;
    line-height: 1.5;
}

.my {
    background: #a8b2bb;
    left: 15px;
    top: 0px;
}

.me {
    background: #92b0d9;
    right: 15px;
    top: 0px;
}

.dateMe {
    position: absolute;
    right: 10px;
    top: 0px;
    font: bold 14px Arial;
    color: #a8b2bb;
}

.dateMy {
    position: absolute;
    left: 10px;
    top: 0px;
    font: bold 14px Arial;
    color: #a8b2bb;
}

.messAdd {
    position: relative;
    width: 100%;
    height: 216px;
    background: #92b5d9;
    border-top: 2px solid #ffffff;
}

.messAdd textarea {
    width: 88%;
    height: 110px;
    margin-top: 25px;
    margin-left: 18px;
    color: #000000;
    background: #c4d7ef;
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 15px;
}

.messAdd .button {
    position: absolute;
    width: 180px;
    bottom: 12px;
    left: 18px;
    height: 20px;
    padding-top: 4px;
    background: url(/images/messages/write-message.png) left top repeat-x;
    border: 2px solid #ffffff;
    text-align: center;
    font: bold 14px Arial;
    color: #ffffff;
}

.messAdd .button a {
    text-decoration: none;
    color: #ffffff;
}

.newMess {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 84px;
    height: 115px;
    border: solid 1px #ffffff;
    border-radius: 10px;
    background: #c4d7ef;
}

.newMess .image {
    border: 2px solid #FFFFFF;
    height: 75px;
    left: 3px;
    position: absolute;
    top: 4px;
    width: 75px;
}

.newMess .image img {
    width: 75px;
    height: 75px;
}

.newMess .messageCountInfo {
    background: url(/images/messages/msg-num.png) left top no-repeat;
    bottom: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    color: #4774a9;
    height: 22px;
    left: 3px;
    padding-left: 40px;
    position: absolute;
    width: 17px;
}

.newMess .senderData {
    position: relative;
    width: 100px;
    top: 130px;
    left: 15px;
    font: bold 14px Arial;
    color: #ffffff;

}

.newMess .senderData li {
    line-height: 20px;
    text-align: center;
}

.newMess .senderData li.user {
    color: #4c7ead;
    font-size: 16px;
}

.popupFolders {
    position: absolute;
    width: 175px;
    height: 100px;
    background: #92B0D9;
    border: 2px solid #ffffff;
    left: -180px;
    text-align: center;
}

.popupFolders select {
    color: #000000;
    background: #ffffff;
}

.popupFolders h2 {
    text-align: center;
    margin: 8px 0px;
    color: #ffffff;
}

.popupFolders .button {
    position: absolute;
    width: 120px;
    top: 60px;
    left: 10px;
    height: 20px;
    padding-top: 4px;
    background: url(/images/messages/write-message.png) left top repeat-x;
    border: 2px solid #ffffff;
    text-align: center;
    font: bold 14px Arial;
    color: #ffffff;
}

.popupFolders .addButton a {
    border-bottom: 1px dotted #4C70AD;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}

.inMenu {
    background: url(/images/messages/write-message.png) top left repeat-x;
    position: absolute;
    border: 2px solid #ffffff;
    left: 378px;
    text-align: center;
    top: 1px;
    width: 20px;
    height: 19px;
    padding-top: 5px;
}

/* End Of Messages */

/* Public profile */

.user_online {
    text-align: center;
    color: #4c7ead;
}

.user_nic_ {
    text-align: center;
}

#cPublicProfile {
    position: relative;
    margin: 20px auto 0 auto;
    width: 760px;
}

#cPublicProfile .cUserInfo {
    position: relative;
    width: 100%;
    height: 150px;
}

#cPublicProfile .cUserInfo .cUserAvatar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 150px;
    width: 150px;
    border: 2px solid #ffffff;
    border-radius: 10px 10px 10px 10px;
}

#cPublicProfile .cUserInfo .cUserAvatar img {
    width: 150px;
    height: 150px;
    border-radius: 10px 10px 10px 10px;
}

#cPublicProfile .cUserInfo .cData {
    position: absolute;
    width: 370px;
    left: 170px;
    top: 0px;
    height: 150px;
}

#cPublicProfile .cUserInfo .cData ul {
    margin: 0px;
    padding: 0px;
}

#cPublicProfile .cUserInfo .cData li.cUser {
    color: #4C7EAD;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 15px;
}

#cPublicProfile .cUserInfo .cData li.cUser span {
    color: #5f5f5f;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

#cPublicProfile .cUserInfo .cData li {
    margin-bottom: 25px;
}

#cPublicProfile .cUserInfo .cData li span.middle {
    display: block;
    margin-left: 40px;
    margin-top: -25px;
    font: 14px Arial;
    color: #5f5f5f;
}

#cPublicProfile .cUserInfo .cData .cWriteMessage {
    position: absolute;
    background: url("/images/messages/write-message.png") repeat-x scroll left top transparent;
    border: 2px solid #FFFFFF;
    border-radius: 10px 0px 0px 10px;
    bottom: 12px;
    color: #FFFFFF;
    font: bold 14px Arial;
    height: 20px;
    padding-top: 4px;
    left: 0px;
    top: 124px;
    text-align: center;
    width: 180px;

}

#cPublicProfile .cUserInfo .cData .cWriteMessage a {
    text-decoration: none;
    color: #ffffff;
}

#cPublicProfile .cUserInfo .cData .cWriteMessageOr {
    position: absolute;
    background: url("/images/messages/offline.png") repeat-x scroll left top transparent;
    border: 2px solid #FFFFFF;
    border-radius: 0px 10px 10px 0px;
    bottom: 12px;
    color: #FFFFFF;
    font: bold 14px Arial;
    height: 20px;
    padding-top: 4px;
    left: 180px;
    top: 124px;
    text-align: center;
    width: 80px;
}

#cPublicProfile .cUserInfo .cData .cWriteMessageOr .cOr {
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-left: 15px;
    width: 50px;
    background: url("/images/profile/or.png") right 4px no-repeat;
}

#cPublicProfile .cUserInfo .cOnlineStatus {
    border: 2px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    top: 0px;
    color: #FFFFFF;
    font: bold 14px Arial;
    height: 20px;
    padding-top: 4px;
    position: absolute;
    right: 0px;
    text-align: center;
    width: 180px;
}

#cPublicProfile .cUserInfo .cOnlineStatus.cOffline {
    background: url("/images/messages/offline.png") repeat-x scroll left top transparent;
}

#cPublicProfile .cUserInfo .cOnlineStatus.cOnline {
    background: url("/images/messages/write-message.png") repeat-x scroll left top transparent;
}

#cPublicProfile .cUserInfo .cPhotoAlbum {
    position: absolute;
    right: 0px;
    top: 80px;
}

#cPublicProfile .cUserInfo .cPhotoAlbum a {
    color: #4c7ead;
    font: 18px Arial;
    text-decoration: underline;
}

#cPublicProfile .cProfileData {
    position: relative;
    float: left;
    margin-right: 30px;
    width: 365px;
    margin-top: 20px;
}

#cPublicProfile .cProfileData.cLast {
    margin-right: 0px;
}

#cPublicProfile .cProfileData h2 {
    color: #4c7ead;
    font: bold 16px Arial;
    margin: 15px 0px 10px 0px;
    padding: 0px;
}

#cPublicProfile .cProfileData .cTable {
    border: dashed 2px #ffffff;
    border-radius: 5px 5px 5px 5px;
}

#cPublicProfile .cProfileData .cTable table {
    width: 350px;
    margin: 5px 5px 5px 5px;
}

#cPublicProfile .cProfileData .cTable tr {
    height: 40px;
    border-bottom: solid 1px #b5c1d5;
}

#cPublicProfile .cProfileData .cTable td {
    vertical-align: middle;
    font: 14px Arial;
    color: #5f5f5f;
}

#cPublicProfile .cProfileData .cTable td.cLabel {
    font-weight: bold;
    width: 130px;
}

#cPublicProfile .cWriteMessageOr .cAdditionalActions {
    position: absolute;
    width: 155px;
    height: 55px;
    background: #898c97;
    border: solid 2px #ffffff;
    left: -2px;
    top: 24px;
    z-index: 10;
    display: none;
    border-radius: 0px 0px 10px 10px;
}

#cPublicProfile .cWriteMessageOr .cAdditionalActions a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin: 8px 0px 5px 10px;
}

#cPublicProfile .cWriteMessageOr .cAdditionalActions a:hover {
    text-decoration: underline;
}

/* End of Public profile */